body {
    background-color: darkblue;
}

nav a {
    color: crimson;

}

article {
    color: darkturquoise;
}

#current-link{
    text-decoration: none;
}

.uppercase{
    font-size: 55px;
}

#hmm{
    width: 350px;
    height: auto;
}
img{
    width: 625px;
    height: auto;
}

#pictures{
    width: 420px;
    height: auto;
}

body{
    border-style: ridge;
    border-width: 8px;
    border-color: dodgerblue;
    padding: 25px;
}

p{
    border-style: dotted;
    border-width: 5px;
    border-color: forestgreen;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}

article {
    margin-left: 50px;
    margin-right: 35px;
}

#inner text{
    width: 65px;
    height: auto;
}

#colors{
    color: gold;
}

#size{
    width: 450px;
    height: auto;
}